<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">

  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" /> <!-- File must have file header -->
    <Rule Id="SA1413" Action="None" /> <!-- Use trailing comma in multi-line initializers -->
    <Rule Id="SA1600" Action="None" /> <!-- Elements should be documented - is already covered by CS1519 - public visible type or member should be documented -->
    <Rule Id="SA1210" Action="None" /> <!-- Using directives should be ordered alphabetically by the namespaces -->
    <Rule Id="SA1623" Action="None" /> <!-- The property's documentation summary text should begin with : 'Gets or sets' -->
    <Rule Id="SA1650" Action="None" /> <!-- The documentation header contains invalidly spelled words. -->
    <Rule Id="SA1602" Action="None" /> <!-- Enumeration items should be documented. -->
    <Rule Id="SA1128" Action="None" /> <!-- Put constructor initializers on their own line. -->
  </Rules>
</RuleSet>